:root{
     --bg-lightgray:rgba(235, 234, 234, 0.575);
     --text-gray:gray;
     --bg-red:#A3381C;

}


/*--------------------reset style-------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
::placeholder{
    color: var(--text-gray) !important;
}

/*--------------------global style-------------------*/

.bg-lightgray{
    background-color: var(--bg-lightgray);
}

.bg-red{
    background-color: var(--bg-red) !important;
}

.cursor-pointer{
    cursor: pointer;
}
.text-x-small{
    font-size: x-small !important;
}

.text-small{
    font-size: small;
}

.pt-15{
    padding-top: 8%;
}
.bg-beige{
    background-color: rgb(214, 207, 184);
}

.text-gray{
    color: var(--text-gray);
}

.moving-line{
    width: 100%;
    border:solid 0.2px black;
}
.line-hov{
    overflow: hidden;
}
.line-hov:hover div{
    animation-name: lines;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-duration: 0.5s;

}

@keyframes lines{
    0%{
        /* margin-left: 0%; */
    }
    100%{
        margin-left: 100%;
    }
}

.fs-small{
    font-size: small;
}
.fw-bolder{
    font-weight: bolder;
}


#upArrow{
    z-index: 10000;
    padding: 0.5% !important;
}





/*---.text-secondary-emphasis---*/

/*----------------custom style-----------------------*/
/*----------------Header------------------*/
header .angle-icon{
    font-size: x-small;

}

.header-ul1{
    left:0%;
    z-index: 999;

}

.header-ul1 li{
    margin:5% 0%;

}
/***disabled???!!!!*/
.englishh:hover ul{
    display: block !important;
    position: absolute !important;
    top:100%;
}

.usd:hover ul{
    display: block !important;
    position: absolute !important;
    top:100%;
    left: 50%;

}
/*---------------navbar-------------------*/
nav .btn{
    --bs-btn-border-width:0px;
}

nav .dropdown-menu{
    --bs-dropdown-border-radius:0px;
    --bs-dropdown-padding-y: 0px;
    --bs-dropdown-link-hover-bg: #0d6efd;
    --bs-dropdown-link-hover-color:white;
     overflow-y: scroll;
    height: 690px;
}

nav .dropdown-menu[data-bs-popper] {
    margin-top:8%;
    border-top: 2px solid black  !important;
}






nav .dropdown-toggle::after {
    margin-left: 30%;
}

nav .line{
    width:1.5px;
    background-color: rgb(191, 191, 191);

}

nav .form-control{
    background-color: transparent;
    color: var(--text-gray);
}

.btn[type=submit]:hover{
    background-color: var(--bg-red);
}

nav .dropdown{
    border-color:rgb(191, 191, 191) !important;
}


.nav-icon:hover{
    color:var(--bg-red) !important
    

}

.nav-icon:hover a{
    color:var(--bg-red) !important
    

}

.icons-badge{
    width: 22px;
    height: 22px;
    aspect-ratio: 1 / 1;
}

.z-index-9999{
    z-index: 9999;
}

/*
    width: 2px;
    height: 2px;
    font-size: 10px;
    font-weight: bold;
    color: white;
*/

.nav-shop-icon{
    font-size: 16px !important;
    font-weight: 100;
}

header{
    top:0%;
    z-index: 99;
    width:100%;
    background-color: white;
}

.nav-pt{
    padding-top:0.5%;
 
}

.z-index-5{
    z-index: 5;
}

.w-19{
    width: 19%;
}

.z-index-10{
    z-index: 10;
}

.overlay-carousel{
    top: 36%;
    left: 30%;
}

.overlay-carousel h1{
    font-size: 47px;
}
.overlay-carousel p{
    font-size: 20px;
    font-weight: lighter;
}

.overlay-carousel-a:hover{
    background-color: black;
    color: white !important;
}



/*----carousel----*/
.carousel-indicators [data-bs-target]{
    width: 8px;
    aspect-ratio: 1 / 1;
    border: solid 1px black;
    border-radius: 50%;
    height: 10px;
    background-color: transparent;
    opacity: 1;
}

.img-slide{
    height: 80%;
    position: absolute;
    top: 20%;
    left: 30%;
}

.h-800{
    height: 600px;
}

.h-80{
    height: 80%;
}

.carousel-indicators .active {
   
    background-color: black !important;
}

.owl-carousel1:hover .owl-nav.disabled {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top:50%;
}

.owl-carousel1{
    position: relative;
}

.owl-carousel1 .owl-nav button.owl-prev , .owl-carousel1 .owl-nav button.owl-next {
    box-shadow: 0px 0px 6px 1px lightgray;
    border: solid 1px white;
    background-color: white;
    
    padding: 8px !important;
}

.owl-carousel1 .owl-nav button.owl-prev{
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
}

.owl-carousel1 .owl-nav button.owl-next{
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
}




/*------pros-section-----*/

.pros-hov:hover i{
    color: black;
}

/*------week's sales-----*/
.week-badge{
    left: 7%;
    top:7%;
}
.week-icons{
    right: 0%;
    top:5%;
}

.week-icon:hover{
    background-color: black !important;
    color: white !important;
}

.week-card-hov:hover  ul{
    display: block !important;

}

.week-card-hov:hover{
    
    box-shadow: 0px 0px 3px 5px lightgray;
    border: solid white 0px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
}



/*-----3 images------*/
.button-white:hover{
    background-color: white;
    color: black !important;

}

.overlay-3img{
    top:8%;
    left:8%;
}

.img3-plant .overlay-3img{
     top: 20%;
     left: 8%;
     width: 34% !important;
}

.underline{
    border:solid 1.8px black;
    width: 45%;
    margin-left: 35%;
}

.img3-plant .badgge{
    width:10%;
    aspect-ratio: 1 / 1;
    top:30%;
    right: 17%;
    
}

.top-20{
    top: 20%;
}

.w-lamp{
    width:30%;
}

.img3:hover img{
    animation-name: ggg;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
    
}

@keyframes ggg{
    100%{
        transform: scale(1.2);
    }
}



/*-----------cyber-------------*/
.cyber-circle{
    width:15%;
    aspect-ratio: 1 / 1;
    color:var(--bg-red);
    border:solid var(--bg-red) 1px;
    border-radius: 50%;
    &:hover{
        animation-name: cc;
        animation-duration: 0.2s;
        animation-timing-function:linear;
        animation-fill-mode:forwards;

    }
    
}

@keyframes cc{
    100%{
        transform: translateY(-8px);
    }
    
}

.c1:hover{
    background-color: #efd2ca !important;
    border: 0;
}


.cyber-circle h1{
    margin-top: 18%;
    
}
.cy-circles{
    padding: 0% 15%;
    left: 0%;
    bottom: 50%;

}

.cyber-title{
    margin-bottom: 6%;
}

.stroke{
    color: white;
    font-size: 150px;
    -webkit-text-stroke: #a3371c1a 2px;
    font-weight:900;
    &:hover{

        animation-name: ss;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-fill-mode:forwards;

        
    }
}

@keyframes ss{
    100%{
        transform: translateY(10px);
    }
    
}
/*----------pal---------------*/
.pal-details{
    width:72%;
}

.bg-green{
    background-color: rgb(207, 247, 227);
}

.btn-pal:hover{
    background-color: transparent;
    border: solid 1px ;
    color: #198754;
}
/*----------shop by Department------------*/
.shop-card img{
   background-color: var(--bg-lightgray); 
   width: 85%;
   aspect-ratio: 1 / 1;
   border-radius: 50%;
}

.shop-line{
    &:hover{
        border-color: var(--bg-red) !important;
    }
}

.shop-card img:hover{
    animation-name: shop;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;
    animation-duration: 0.2s;
    display: block;
    animation-direction: alternate-reverse;
   
}

@keyframes shop{
    /*
    0%{
     margin-left: auto;
    }
    50%{
     margin-right: auto;
     margin-left: auto;
    }
    100%{
     margin-right: auto;
    }
     */
     0%{
        transform: translateX(5px);
     }
     100%{
        transform: translateX(-5px);
     }

}

/*--------------brands-------------------*/


.owl-carousel2 img:hover{
    filter: grayscale(100%);
}

/*-------------footer---------------------*/
footer{
     background-color: var(--bg-lightgray);
}

footer input{
    width:50%;
    padding: 1% 2%;
}

.footer-ex{
    margin-top: 32%;
}







/*--------------------------------------------------contact page--------------------------------------------------*/
.footer2 a{
    color: white !important;
}