:root{
     --bg-lightgray:rgba(235, 234, 234, 0.575);
     --text-gray:gray;
     --bg-red:#A3381C;
}


/*--------------------reset style-------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
::placeholder{
    color: var(--text-gray) !important;
}

/*--------------------global style-------------------*/

.bg-lightgray{
    background-color: var(--bg-lightgray);
}

.bg-red{
    background-color: var(--bg-red);
}




/*---.text-secondary-emphasis---*/

/*----------------custom style-----------------------*/
/*----------------Header------------------*/
header .angle-icon{
    font-size: x-small;

}

.header-ul1{
    left:0%;
    z-index: 999;

}

.header-ul1 li{
    margin:5% 0%;

}
/***disabled???!!!!*/
.drop-hover:hover .drop-hover-ul{
    display: block;
}
/*---------------navbar-------------------*/
nav .btn{
    --bs-btn-border-width:0px;
}

nav .dropdown-menu{
    --bs-dropdown-border-radius:0px;
    --bs-dropdown-padding-y: 0px;
    --bs-dropdown-link-hover-bg: #0d6efd;
    --bs-dropdown-link-hover-color:white;
}

nav .dropdown-menu[data-bs-popper] {
    margin-top:0;
    border-top: 2px solid black  !important;
}






nav .dropdown-toggle::after {
    margin-left: 30%;
}

nav .line{
    width:1.5px;
    background-color: rgb(191, 191, 191);

}

nav .form-control{
    background-color: transparent;
    color: var(--text-gray);
}

.btn[type=submit]:hover{
    background-color: var(--bg-red);
}

nav .dropdown{
    border-color:rgb(191, 191, 191) !important;
}


.nav-icon:hover{
    color:var(--bg-red) !important
    

}

.nav-icon:hover a{
    color:var(--bg-red) !important
    

}

.icons-badge{
    width: 22px;
    height: 22px;
    aspect-ratio: 1 / 1;
}


/*
    width: 2px;
    height: 2px;
    font-size: 10px;
    font-weight: bold;
    color: white;
*/

.nav-shop-icon{
    font-size: 16px !important;
    font-weight: 100;
}