/*--------------------reset style-------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*--------------------global style-------------------*/

.bg-lightgray{
    background-color: rgba(235, 234, 234, 0.575);
}

/*---.text-secondary-emphasis---*/